{% extends "base.html" %}

{% block title %}{{ achievement }}{% endblock title %}

{% block content %}

    <h3 class="text-center">Достижения</h3>
    {% for achievement in achievement_list %}
        <div class="col-md-2">
                        <div class="thumbnail">
                          <img src="{{ achievement.image.url }}">
                          <div class="caption">
                            <h4><a href="{{ achievement.get_absolute_url }}">{{ achievement.title }}</a></h4>
                            <p>{{ achievement.description }}</p>
                            </div>
                        </div>
                      </div>
{% if forloop.counter|divisibleby:6 %}
                                <hr style="clear:both;" />
                        {% endif %}
    {% endfor %}

{% endblock content %}