{% extends "base.html" %}

{% block title %}Главная{% endblock title %}

{% block content %}
    <div class="row">
            <h3 class="text-center">Лента</h3>
                {% for record in records %}
                    <div class="col-md-2">
                        <div class="thumbnail">
                          <img src="{{ record.achievement.image.url }}">
                          <div class="caption">
                            <h4><a href="{{ record.achievement.get_absolute_url }}">{{ record.achievement.title }}</a></h4>
                            <i><strong>Получатель:</strong> <a href="{{ record.student.get_absolute_url }}">{{ record.student.fullname }}</a></i>
                            <p>{{ record.achievement.description }}</p>
                            </div>
                        </div>
                      </div>
                {% endfor %}
    </div>
{% endblock content %}