{% extends "base.html" %}

{% block title %}Главная{% endblock title %}

{% block content %}
    <h4></h4>
    <ol>
        {% for student in students %}
            <li>
                <a href="{{ student.get_absolute_url }}">
                    {% if student.photo %}<img src="{{ student.photo.url }}" alt="{{ student }}" width="50px">{% endif %}
                    {{ student.lastname }} {{ student.firstname }}
                </a>

                {% for r in student.records.all %}
                    <a href="{{ r.achievement.get_absolute_url }}">
                        <img src="{{ r.achievement.image.url }}" alt="{{ r.achievement.title }}" width="50px">
                    </a>
                {% endfor %}
            </li>
        {% endfor %}
    </ol>
    <p>Список ачивок</p>
    <ul>
        {% for record in records %}
            <li><a href="{% url 'achievement' record.achievement.id %}">{{ record }}</a></li>
        {% endfor %}
    </ul>
{% endblock content %}