{% extends "base.html" %}

{% block title %}{{ student.fullname }}{% endblock title %}

{% block content %}
    <h3 class="text-center">{{ student.firstname }} {{ student.lastname }}</h3>
        {% if student.photo %}
            <img src="{{ student.photo.url }}" alt="{{ student }}" class='center-block' style='max-width:400px;'>
        {% else %}
            <img src="http://files.gamebanana.com/img/ico/sprays/superman_flying1.png" title="Superman" class='center-block' style='max-width:400px;'>
        {% endif %}
        <br>
        {% for record in student.records.all %}
            <div class="col-md-2">
                        <div class="thumbnail">
                          <img src="{{ record.achievement.image.url }}">
                          <div class="caption">
                            <h4><a href="{{ record.achievement.get_absolute_url }}">{{ record.achievement.title }}</a></h4>
                            <p>{{ record.achievement.description }}</p>
                            </div>
                        </div>
                      </div>
        {% endfor %}
{% endblock content %}
