{% extends "base.html" %}

{% block title %}{{ student.fullname }}{% endblock title %}

{% block content %}
    <h4>{{ student.firstname }} {{ student.lastname }}</h4>
    {% if student.photo %}<img src="{{ student.photo.url }}" alt="{{ student }}" width="400px">{% endif %}
    <p>Список ачивок</p>
    <ul>
        {% for record in student.records.all %}
            <li><a href="{{  record.achievement.get_absolute_url }}">{{ record.without_student }}</a></li>
        {% endfor %}
    </ul>
{% endblock content %}